<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body align="center">
    <h1>Google Image Scrapper</h1>
    <form action="/submitrequest" method="POST">
      <input type="text" name="inputValue" placeholder="Search Image">
      <button type="submit"> Submit</button>
    </form>
    <a href="/previoussearch">Previous Searches</a>
  </body>
</html>